
/***************************************** NAVBAR ***************************************/

img {
    width: 6.25rem;
}

.contenedor {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.d-flex div {
    
}

.solo-clasif-wrapper {
    box-shadow: 1px 1px 3px 4px #ccc;
    border-radius: 1rem;
}

.solo-clasif {
    text-transform: uppercase;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.medal-wrapper {
      display:flex;
      justify-content: center;
      align-items: center;
}

.medal-wrapper {
    border-radius: 50%;
    font-size: 1.2rem;
    width: 2.5rem;
    height: 2.5rem;
    background: #3f7df1;
}

.medal-wrapper i {
    color: white;
}

hr {
    margin-left: 0;
    margin-right: 0;
  }